.App{
  height:1000px;
  align-content: center;
}
h1{
  position: absolute;
width: 566px;
height: 42px;
left: 647px;
top: 191px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #1E8582;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.this{
  position: absolute;
width: 247px;
height: 20px;
left: 796px;
top: 248px;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #787878;

}
.stepline{
  position: absolute;
width: 591px;
height: 25px;
left: 650px;
top: 307px;
}
.T{
  position: absolute;
width: 9px;
height: 15px;
left: 706px;
top: 310px;

font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;

color: #FFFFFF;
}
.ellipse{
  position: absolute;
width: 25px;
height: 25px;
left: 698px;
top: 307px;

background: #49B8AD;
border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: -1px 4px 4px rgba(30, 133, 130, 0.17);
border-radius: 2px;
}
.rectangle25{
  position: absolute;
  width: 61px;
  height: 5px;
  left: 650px;
  top: 317px;
  
  background: #49B8AD;
  border-radius: 30px;
}
.rectangle24{
  position: absolute;
width: 591px;
height: 5px;
left: 650px;
top: 317px;

background: #E5E5E5;
border-radius: 30px;
}
h2{
  position: absolute;
width: 163px;
height: 23px;
left: 768px;
top: 398px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;

color: #273469;
}
.line{
  position: absolute;
width: 180px;
height: 0px;
left: 941px;
top: 414px;

border: 1px solid #273469;
}
.country{
position: absolute;
left: 1.14%;
right: 84%;
top: 0%;
bottom: 72.31%;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height */


color: #787878;
}
.rectangle26{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 38.46%;
  bottom: 0%;
  
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
}
#btn{
  position: absolute;
width: 200px;
height: 40px;
left: 1043px;
top: 810px;
color: #FFFFFF;



background: #F8951B;
border-radius: 30px;

}

.dropdownselect{
  position: absolute;
width: 350px;
height: 65px;
left: 771px;
top: 459px;
}


#cou{
  position: absolute;
left: 1.14%;
right: 84%;
top: 0%;
bottom: 72.31%;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height */


color: #787878;
}
.rectangle22{
  position: absolute;
left: 0%;
right: 0%;
top: 38.46%;
bottom: 0%;

border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 3px;
}
#sele{
  position: absolute;
left: 0%;
right: 0%;
top: 32;
bottom: 0%;
width: 300px; 
font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 16px;

border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 3px;
}
.input{
  position: absolute;
width: 350px;
height: 65px;
left: 771px;
top: 550px;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
}